* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(https://gontrancherrier.kr/images/sub/sub1_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#writeBtn {
  margin: 30px;
  margin-left: 1100px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 40px;
  /* border: 1px solid; */
  border-radius: 3px;
  cursor: pointer;
  font-weight: 600;
  font-size: 15px;
  background-color: #414581;
  color: white;
  text-decoration: none;
}


#sectionBoard> :nth-child(1) {
  text-align: center;
  font-size: 30px;
  font-weight: 800;
}

#sectionBoard #board> :nth-child(1) {
  width: 70px;
}

#sectionBoard #board> :nth-child(2) {
  width: 200px;
}

#sectionBoard #board> :nth-child(3) {
  width: 800px;
}

#sectionBoard #board> :nth-child(4) {
  width: 200px;
}

#sectionBoard #board> :nth-child(5) {
  width: 100px;
}


#sectionBoard {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


#board {
  width: 1200px;
  /* height: 20px; */
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid; */
  text-align: center;
  border-bottom: 1px solid;
  /* background-color: #fac0998b; */
}

#sectionBoard #board .boardStyle {
  font-weight: 600;
  font-size: 20px;
}

/* 페이지 네이션 */

.pagination-container {
  margin-top: 500px;
  justify-content: center;
  display: flex;
  gap: 20px;
}

ul {
  width: 1200px;
  margin-top: 30px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: rgb(224, 224, 224);
}

ul>li {
  display: flex;

}

ul>li>span {
  text-align: center;
}

ul>li>span:nth-child(1) {
  width: 70px;
}

ul>li>span:nth-child(2) {
  width: 200px;
}

ul>li>span:nth-child(3) {
  width: 800px;
}

ul>li>span:nth-child(4) {
  width: 200px;
}

ul>li>span:nth-child(5) {
  width: 100px;
}