/* #####################  초기화  ###############3 */
*{
  margin: 0;
  padding: 0;
  background-color: RGB(255,192,152);
  color:#414581;
}

ul, li {
  list-style: none;
}

a{
  text-decoration: none;
}

/* ############# header ################# */
.header{
  width: 100%;
  border-bottom: 1px solid #414581;
}

.header > .header-content{
  width: 1400px;
  height: 120px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position:relative;
}

/* ############### header mennu ################ */
.header-content > .menu{
  display: flex;
  justify-content: space-around;
}

.header-content > .menu > li{
  font-size: 16px;
  padding:0 10px;
  color: #414581;
}

/* ################# header logo ################### */
.header-content > h1 {
  width: 200px;
  height: 50px;
  position: absolute;
  transform: translate(-50%, -50%);
  left:50%;
  top:50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-content > h1 > img {
  width: 45px;
}
.header-content > h1 > span {
  font-size: 30px;
}

/* ################### header user-area ##################### */
.header-content .user-area{
  display : flex;
  justify-content: space-between;
  background-color:antiquewhite;
}

.header-content .user-area li{
  font-size: 18px;
  padding: 0 10px;
  cursor: pointer;
}

/* #################### footer ###################### */
.footer{
  width: 100%;
  color: #fff;
  padding: 40px 0;
  border-top: 1px solid #414581;
  font-weight: bold;
}

.footer .footer-content{
  width: 1400px;
  display: flex;
  margin:0 auto;
}

/* ########## footer-list ########## */


.footer-content .footer-list .footer-logo{
  margin-right: 150px;
}


.footer-content .footer-list .footer-logo{
  font-size: 36px;
  font-weight: bold;
}

.footer-list li{
  margin-bottom: 10px;
}

.footer-list .customer-center span{
  display: block;
}

.footer-list .customer-center span:nth-child(1){
  font-size: 26px;
  margin-bottom: 12px;
  font-weight: bold;
}

.footer-list .customer-center span:nth-child(2){
  font-size: 23px;
}

.footer-list .sns{
  margin-top:15px;
}

.footer-list .sns img{
  width: 40px;
  float:left;
  margin-right: 10px;
}

.footer-content > .footer-menu{
  margin-right: 60px;
}

.footer-content > .footer-menu > li{
  font-size: 20px;
  margin-bottom: 20px;
}

.footer-address{
  margin-top: 40px;
  text-align: center;
}

/* ################### 로그인 팝업 ##################### */

.login-popup{
  width:100%;
  height: 100vh;
  background-color: rgba(0,0,0,0.4);
  position:absolute;
  left:0;
  top:0;
  display: none;
  coLOR:#FFF;
}

.login-popup .login-wrap{
  width: 600px;
  position:absolute;
  left:50%;
  top:50%;
  transform:translate(-50%, -80%);
}

.login-popup .login-wrap h2{
  text-align: center;
  font-size: 40px;
  margin: 20px 0;
}

.login-wrap > .login-content > p{
  text-align: center;
  font-size: 24px;
  margin: 30px 0;
}

.login-wrap > .login-content{
  border: 1px solid #000;
  position:relative;
}

/* ############### 로그인 삭제 ############## */
.login-wrap > .login-content > .login-delete{
  display:block;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  right: 0;
}
.login-content > .login-delete img{
  width: 22px;
  position:relative;
  left:50%;
  top:50%;
  transform:translate(-50%,-50%);
}


/* ################ 아이디 비밀번호 input ############# */
.user-info{
  text-align: center;
  height: 60px;
  padding: 0 10px;
  margin-bottom : 10px;
}

.user-info input{
  width:400px;
  height: 45px;
  padding: 0 10px;
  border: none;
  background-color:#fff
}

.user-info input::placeholder{
  font-size:20px;
  background-color:#fff
}

/* ################# 버튼 ############### */
form{
  text-align:center
}

form > button {
  width: 420px;
  height: 50px;
  background-color:#414581;
  color: #fff;
  border-radius: 4px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

/* ################# join-area ############### */

.login-content .join-area{
  display:flex;
  margin: 30px 0;
  justify-content:center;
}

.login-content .join-area li {
  margin: 0 20px;
}