* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrap {
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titlebox,
.contentbox,
.writerdatebox {
    display: flex;
}

.boardtitle {
    margin-top: 80px;
    margin-bottom: 45px;
    font-size: 30px;
    font-weight: 600;
}

/******************* 제목 라인 *******************/

.titleinputbox {
    border-top: 2px solid rgb(50, 51, 110);
    border-bottom: 2px solid rgb(50, 51, 110);
    width: 100%;
    height: 40px;
    overflow: hidden;
}

#title {
    width: 800px;
    height: 100%;
    font-size: 14px;
    border: none;
    resize: none;
    padding: 11px;
    box-sizing: border-box;
    background-color: transparent;
    outline: none;
}

/******************* 작성자, 날짜 라인 *******************/

.writer,
.date {
    width: 15%;
    height: 40px;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding-left: 10px;
    font-size: 14px;
}

.writer {
    border-right: 2px solid rgb(50, 51, 110);
}

/******************* 내용 라인 *******************/
.contentinputbox {
    border-top: 2px solid rgb(50, 51, 110);
    border-bottom: 2px solid rgb(50, 51, 110);
    width: 800px;
    height: 400px;
    overflow: hidden;
}

#content {
    width: 800px;
    height: 100%;
    font-size: 14px;
    border: none;
    resize: none;
    padding: 11px;
    box-sizing: border-box;
    background-color: transparent;
    outline: none;
}

/******************* 목록 삭제 수정 버튼 라인 *******************/
.btnbox {
    width: 800px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.btnright {
    width: 260px;
    display: flex;
    justify-content: space-between;
}

#btn_board,
#btn_cancel,
#btn_confirm {
    width: 120px;
    height: 30px;
    border: none;
    background-color: rgb(50, 51, 110);
    color: white;
    transition: 500ms;
    border-radius: 30px;
}

#btn_board:hover {
    background-color: white;
    color: black;
}

#btn_cancel:hover {
    background-color: white;
    color: black;
}

#btn_confirm:hover {
    background-color: white;
    color: black;
}