/* #####################  초기화  ###############3 */
* {
  margin: 0;
  padding: 0;

}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* ############# header ################# */
.header {
  width: 100%;
  border-bottom: 1px solid #42457D;
  background-color: #FEF9F6;
}

.header>.header-content {
  width: 80%;
  height: 165px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

/* ############### header mennu ################ */
.header-content>.menu {
  display: flex;
  justify-content: space-around;
}

.header-content>.menu>li {
  font-size: 16px;
  padding: 0 10px;
  color: #42457D;
}

/* ################# header logo ################### */
.header-content>h1 {
  width: 200px;
  height: 50px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-content>h1>img {
  width: 45px;
}

.header-content>h1>span {
  font-size: 30px;
}

/* ################### header user-area ##################### */
.header-content .user-area {
  display: flex;
  justify-content: space-between;
  /* background-color: antiquewhite; */
}

.header-content .user-area li {
  font-size: 18px;
  padding: 0 10px;
  cursor: pointer;
}

.header-content .user-area li:nth-child(1) {
  position: relative;
}

.header-content .user-area li:nth-child(1) span {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* #################### footer ###################### */
.footer {
  width: 100%;
  color: #42457D;
  padding: 40px 0;
  /* border-top: 1px solid #414581; */
  background-image: linear-gradient(to bottom, #fff9f5, #ffc098);
}

.footer .footer-content {
  width: 80%;
  display: flex;
  margin-top: 50px;
  padding-left: 100px;

}

/* ########## footer-list ########## */


.footer-content .footer-list .footer-logo {
  padding-right: 150px;
}


.footer-content .footer-list .footer-logo {
  font-size: 28px;
  font-weight: bold;
}

.footer-list li {
  margin-bottom: 10px;
}

.footer-list .customer-center span {
  display: block;
}

.footer-list .customer-center span:nth-child(1) {
  font-size: 20px;
  margin-bottom: 12px;
  font-weight: bold;
}

.footer-list .customer-center span:nth-child(2) {
  font-size: 20px;
}

.footer-list .sns {
  margin-top: 15px;
}

.footer-list .sns img {
  width: 40px;
  float: left;
  margin-right: 10px;
}

.footer-content>.footer-menu {
  margin-right: 60px;
}

.footer-content>.footer-menu>li {
  font-size: 15px;
  margin-bottom: 20px;
}

.footer-address {
  margin-top: 40px;
  text-align: center;
}

#content{
  width: 100%;
  padding: 80px 0;
}

#content > .content-wrap{
  width: 40%;
  border:3px solid #b5b6cc;
  margin:0 auto; 
  border-radius: 30px;
  display: flex;
  justify-content:center;
  padding: 60px 0;
}

#content .content{
  width: 300px;
}

#content .content .inputTxt{
  width:90%;
  height: 30px;
  display:block;
  padding:3px 6px;
  margin-bottom:10px;
}

.content span{
  display:block;
  margin-bottom:10px;
}

#id-text{
  font-size:20px;
}
.profile-img{
  max-width: 150px;
}

.img{
  height: 190px;
  border:1px solid #777;
  /* background-color:#ccc; */
}

.img img{
  width:100%;
  height:100%;
}
.btnArea{
  display: flex;
}

.content, .profile-img{
  margin:0 20px;
}
.changeBtn{
  display:block;
  width: 100px;
  height: 40px;
  background-color:#b9bacf;
  margin-bottom: 10px;
  border:none;
  border-radius: 5px;
  margin-right: 20px;
}
input[type=file]{
  margin-bottom: 20px;
}