* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #FEF9F6;
}

#content {
  margin: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#game-move {
  cursor: pointer;
}

#signupSection {
  width: 500px;
  height: 500px;
  border: 3px solid #42457d64;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.signup-title {
  font-size: 18px;
  font-weight: 600;
  margin: 10px;
}

.signup-input {
  width: 330px;
  height: 30px;
  padding-left: 6px;
}

.signup-btn {
  background-color: #42457d5e;
  width: 60px;
  height: 35px;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 5px;
}

#clear_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 130px;
  height: 40px;
  border-radius: 5px;
  background-color: #42457D;
  color: white;
  cursor: pointer;
  margin-top: 30px;
}

.id_possible {
  font-size: 13px;
  margin-top: 5px;
  color: green;
}

.id_impossible {
  font-size: 13px;
  margin-top: 5px;
  color: red;
}

.name_impossible {
  font-size: 13px;
  margin-top: 5px;
  color: red;
}

.name_possible {
  font-size: 13px;
  margin-top: 5px;
  color: green;
}

/* .name-box {
  display: flex;
  flex-direction: column;
} */

/* .id-box {
  display: flex;
  flex-direction: column;
} */





/* heard와 footer 영역 */

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* ############# header ################# */
.header {
  width: 100%;
  border-bottom: 1px solid #42457D;
  background-color: #FEF9F6;
}

.header>.header-content {
  width: 80%;
  height: 165px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

/* ############### header mennu ################ */
.header-content>.menu {
  display: flex;
  justify-content: space-around;
}

.header-content>.menu>li {
  font-size: 16px;
  padding: 0 10px;
  color: #42457D;
}

/* ################# header logo ################### */
.header-content>h1 {
  width: 200px;
  height: 50px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-content>h1>img {
  width: 45px;
}

.header-content>h1>span {
  font-size: 30px;
}

/* ################### header user-area ##################### */
.header-content .user-area {
  display: flex;
  justify-content: space-between;
  /* background-color: antiquewhite; */
}

.header-content .user-area li {
  font-size: 18px;
  padding: 0 10px;
  cursor: pointer;
}

.header-content .user-area li:nth-child(1) {
  position: relative;
}

.header-content .user-area li:nth-child(1) span {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* #################### footer ###################### */
.footer {
  width: 100%;
  color: #42457D;
  padding: 40px 0;
  background-image: linear-gradient(to bottom, #fff9f5, #ffc098);
}

.footer .footer-content {
  width: 80%;
  display: flex;
  margin-top: 50px;
  margin-left: 100px;
}

/* ########## footer-list ########## */


.footer-content .footer-list .footer-logo {
  margin-right: 150px;
}


.footer-content .footer-list .footer-logo {
  font-size: 28px;
  font-weight: bold;
}

.footer-list li {
  margin-bottom: 10px;
}

.footer-list .customer-center span {
  display: block;
}

.footer-list .customer-center span:nth-child(1) {
  font-size: 20px;
  margin-bottom: 12px;
  font-weight: bold;
}

.footer-list .customer-center span:nth-child(2) {
  font-size: 20px;
}

.footer-list .sns {
  margin-top: 15px;
}

.footer-list .sns img {
  width: 40px;
  float: left;
  margin-right: 10px;
}

.footer-content>.footer-menu {
  margin-right: 60px;
}

.footer-content>.footer-menu>li {
  font-size: 15px;
  margin-bottom: 20px;
}

.footer-address {
  margin-top: 40px;
  text-align: center;
}